<div id="<%= dom_id social %>">
  <p>
    <strong>Name:</strong>
    <%= social.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= social.url %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= social.icon %>
  </p>

  <p>
    <strong>User:</strong>
    <%= social.user_id %>
  </p>

</div>
