<!DOCTYPE html>
<html>
  <head>
    <title>TodoRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>
    <%= render 'layouts/partials/header' %>
    <%= render 'layouts/partials/sidebar' %>

    <main id="main" class="main">
      <div class="pagetitle">
        <h1><%= yield :pagetitle %></h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <%= link_to root_path do %>
                Home
              <% end %>
            </li>
            <%= yield :breadcrumb %>
          </ol>
        </nav>
      </div><!-- End Page Title -->
      
      <section class="section">
        <%= render 'layouts/notification' %>

        <%= yield %>
      </section>
    </main>

    <%= render 'layouts/partials/footer' %>
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  </body>
</html>
